---
import { getCollection } from "astro:content";

const dataCertificates = await getCollection("certificates");
const certificates = dataCertificates
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 3);

---


<div>
  <ol id="certificates-list" class="relative border-s border-dracula-purple/70">
    {
      certificates.map((cert, index) => (
        <li class={`cert-item mb-10 ms-4 ${index > 2 ? "hidden" : ""}`}>
          <div class="absolute w-3 h-3 bg-dracula-purple rounded-full mt-1.5 -start-1.5 border border-dracula-background" />
          <time class="mb-1 text-sm font-normal leading-none text-dracula-orange ">
            {cert.data.date} - {cert.data.entity}
          </time>
          <h3 class="text-lg font-semibold text-white">{cert.data.title}</h3>
          <p class="mb-4 text-base font-normal text-gray-500">{cert.data.description}</p>
          <a
            href={cert.data.link}
            target="_blank"
            class="inline-flex items-center px-4 py-2 text-sm rounded-md bg-dracula-comment/20 border border-dracula-purple text-dracula-foreground hover:bg-dracula-comment/30 hover:text-dracula-purple hover:border-dracula-purple hover:scale-105 transition-all duration-300"
          >
            Ver Certificado
          </a>
        </li>
      ))
    }
  </ol>
  <a
    href="/certificates"
    class="flex w-fit mx-auto items-center gap-2 px-6 py-3 rounded-lg font-medium transition-all duration-200 hover:scale-105 bg-light-purple dark:bg-dracula-purple text-light-background dark:text-dracula-background"
  >
    Ver Certificados
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </a>
</div>

