---
import DemoIcon from "./icons/Demo.astro";
import GithubIcon from "./icons/Github.astro";
const projects = [
  {
    title: "Retos de programación - devChallenges.io",
    description:
      "Repositorio con desafíos de programación resueltos para fortalecer mis habilidades en frontend. Los retos fueron tomados de la plataforma devChallenges.io, la cual ofrece una amplia variedad de ejercicios prácticos.",

    image: "/projects/proyecto1.webp",
    linkRepo: "https://github.com/usuario/proyecto1",
    linkDemo: "https://proyecto1.com",
    technologies: ["HTML", "CSS", "JavaScript", "Vue.JS"],
  },
  {
    title: "Template de Django",
    description:
      "Plantilla inicial de Django preconfigurada para integrarse fácilmente con Wagtail, Docker, Celery y RabbitMQ, ideal para proyectos escalables.",
    image: "/projects/proyecto1.webp",
    linkRepo: "https://github.com/usuario/proyecto1",
    linkDemo: "https://proyecto1.com",
    technologies: ["Django", "DRF", "Swagger", "Docker", "Celery", "RabbitMQ"],
  },
];
---

{
  projects.map((project) => (
    <article class="mb-8 flex flex-col md:flex-row bg-dracula-background/50 border border-dracula-purple/30 rounded-xl overflow-hidden hover:border-dracula-purple/50 hover:scale-105 hover:shadow-lg transition-all duration-300">
      <div class="md:w-1/3 relative">
        <img
          class="w-full h-full object-cover aspect-video md:aspect-auto"
          loading="lazy"
          src={project.image}
          alt={project.title}
        />
      </div>
      <div class="md:w-2/3 p-6 flex flex-col justify-between">
        <div>
          <h3 class="text-xl font-bold mb-3 text-dracula-foreground">
            {project.title}
          </h3>
          <div class="flex flex-wrap gap-2 mb-6">
            {project.technologies.map((tech) => (
              <span class="px-3 py-1 bg-dracula-green/20 text-dracula-green border border-dracula-green rounded-full text-xs">
                {tech}
              </span>
            ))}
          </div>
          <p class="text-dracula-foreground/80 mb-4">{project.description}</p>
        </div>
        <div class="flex gap-4">
          <a
            href={project.linkRepo}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center px-4 py-2 text-sm rounded-md bg-dracula-comment/20 border border-dracula-purple text-dracula-foreground hover:bg-dracula-comment/30 hover:text-dracula-purple hover:border-dracula-purple hover:scale-105 transition-all duration-300"
          >
            <GithubIcon />
            Código
          </a>
          <a
            href={project.linkDemo}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center px-4 py-2 bg-dracula-yellow/30 border border-dracula-yellow text-dracula-yellow rounded-lg hover:bg-dracula-yellow/40 hover:scale-105 transition-colors duration-200"
          >
            <DemoIcon />
            Demo
          </a>
        </div>
      </div>
    </article>
  ))
}
